*{margin: 0;
padding:0;
box-sizing: border-box;}

a{text-decoration: none;
color: black;}

a:hover{color:white;}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

ul{list-style-type: none;
text-align: center;
text-decoration: none;
padding: 0;}

.portada {
width:100vh;
height: 30vh;
margin: auto;
background-image:url("../img/portadasports.jpg"); 
background-repeat: no-repeat;
background-position: center;
background-size: contain;}

.portada-main{width:100%;
    height: 80vh;
    margin: auto;
    background-image:url("../img/portada-corredores.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;}

h1{
background-color: rgb(68, 65, 65);
color: rgb(199, 0, 0);
text-align: center;
text-shadow: 3px 3px 5px black;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: xx-large;
font-style: italic;}

.texto-carrusel{
font-weight: 900;
text-shadow: 4px 4px 4px black;    
font-style: italic;
font-size: xx-large;}

.titulo-secundario{font-size: 2.2rem;
    text-shadow: 3px 3px 3px black;    
    font-style: italic;}

.titulo-redes{font-size: 2.2rem;
    text-shadow: 3px 3px 3px black;    
    font-style: italic;}

.titulo-noticia{
    font-size: 2.2rem;
    text-shadow: 1px 1px 5px black;    
    font-style: italic;}    

.titulo-iframe{font-size: 1.5rem;}    

p{font-size: medium;
margin: 10px;}


header{position: sticky; top: 0px; z-index: 2;}

footer{position:relative; z-index: 2;}

    .nav-contain{background-color: rgb(68, 65, 65);}

    .altura{height: 30rem;}

    .img-index{width: 100%; 
    height: 40vh;}

    .ubicacion{width: 100%; display: flex;
    justify-content: center;
    align-items: center;}
    .iframe-ubi{width: 60%; height: 20vh;}
    .formulario{
    height: 100%;   
    margin-top: 15px;
    text-align:center;
    display: flex;justify-content: center;
    align-items: center;}

    .form{width: 70%;}    
    .footer{
    background-color: rgb(68, 65, 65);    
    height: 40vh;
    display:flex;
    justify-content:center;
    align-items: center;}

    .redes{width: 60%;}
    .redes1{margin: 5px;}

        
.contenedor{font-family:Georgia, 'Times New Roman', Times, serif ;}