$negro:#000000; 
$gris-oscuro:#444141;
$gris-claro:#e7e7e7;
$blanco:#ffffff;
$rojo:#c70000;

$colores:(
    negro:#000000,
    gris-oscuro:#444141,
    gris-claro:#e7e7e7,
    blanco:#ffffff,
    rojo:#c70000,
)