$primario:#000000; 
$secundario:#444141;
$terciario:#e7e7e7;
$cuaternario:#ffffff;
$quinario:#c70000;

$colores:(
    primario:#000000,
    secundario:#444141,
    terciario:#e7e7e7,
    cuaternario:#ffffff,
    quinario:#c70000,
)