.ubicacion{width: 100%;}
.iframe-ubi{ height: 20vh;}
.footer{position:relative;
    background-color: map-get($colores, secundario);}
.redes{width: 60%;}
.redes1{margin: 5px; text-align: start;}
.redes-animacion :hover{transform: scale(1.2); transition: 0.5s;}
.titulo-redes{font-size: 1.8rem;
    text-shadow: 3px 3px 3px ,map-get($colores, primario) ;    
    font-style: italic;
    text-align: initial;}