.portada-main{width:100%;
    height: 200vh;
    margin-bottom: 30px;
    background-image:url("../img/portada-corredores.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;}


.titulo-secundario{
    @include decoration-text(2.2rem, 3px 3px 3px $negro ,italic,)}



.titulo-noticia{
@include decoration-text(2.2rem, 1px 1px 5px $negro ,italic)
}    

.titulo-iframe{font-size: 1.5rem;} 

.iframe{width: 253px; height: 40vh;}


.img-index{width: 100%; 
    height: 40vh;}


.img{height: 40vh;
width: 60%;
margin: 5px;}

.tarjeta-noticia{background-color: map-get($colores, gris-claro); 
    border: 1px ,solid map-get($colores,negro );
width: 95vw;}

.tarjeta-noticias{background-color: map-get($colores, gris-claro); 
    border: 1px solid ,map-get($colores, negro );
width: 60%;}

.tarjeta-iframe{background-color: map-get($colores, gris-claro); 
    border: 1px solid ,map-get($colores,negro );
height: 65vh; 
width: 60vh;
@include flexbox ( center,center)
}

.centrado-noticias{
    @include flexbox ( center,center)
}

.tarjeta-texto{font-size: 1.1rem;}

