
a{text-decoration: none;
    color: $color-negro;}
    
    a:hover{color: $color-blanco;}
    
    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
    
    ul{list-style-type: none;
    text-align: center;
    text-decoration: none;
    padding: 0;}
    
    
    p{font-size: medium;
        margin: 10px;}
        